div.container {
    width: 100%;
    
}

header {
    color: white;
    background-color: Black;
    clear: left;
    text-align: center;
}
    
footer {
    color: white;
    background-color: red;
    clear: left;
    text-align: center;
    height: 25px;
    bottom: 0;
    left:0;
    width: 100%
}
    
header,footer{
    border:  2px solid gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: lightgrey;
    height: 100%;   
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: red;
    color: white;
}

#cart {
    height: 35em;
    width: 25em;
    float: right;
    display: block;
    background-color: antiquewhite;
}